/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Playfair+Display:wght@700&display=swap'); /* Importing good-looking fonts */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* Applying the new font */
  height: 100%;
}

.landing-page {
  background-image: url('https://i.pinimg.com/originals/be/b2/c2/beb2c2837db72e15907eef50ee46797b.gif');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}


.landing-header h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.landing-header p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.login-button {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-transform: uppercase;
}

.login-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

/* Footer styles */
.landing-footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5); /* Transparent black background */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.landing-footer p {
  margin: 0;
  color: white; /* Footer text color */
  font-size: 0.9rem; /* Smaller font size for the footer */
}
